<mat-form-field class="pt-4 w-100">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Digite aqui o filtro" #input>
</mat-form-field>
  
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
    </ng-container>
  
    <!-- Age Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Idade </th>
      <td mat-cell *matCellDef="let element"> {{ element.age }} </td>
    </ng-container>
  
    <!-- Phone Number Column -->
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef> Número de telefone </th>
      <td mat-cell *matCellDef="let element"> {{ element.phoneNumber | phoneNumber }} </td>
    </ng-container>

    <!-- Was Paid Column -->
    <ng-container matColumnDef="wasPaid">
        <th mat-header-cell *matHeaderCellDef> Pago </th>
        <td mat-cell *matCellDef="let element"> {{ element.wasPaid == true ? 'Sim' : 'Não' }} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element">
        <!-- <img src="../../../assets/svg/pencil.svg" alt="pencil" class="click-button" (click)="editParticipant(element)"> -->
        <a mwlConfirmationPopover
        [popoverMessage]="'Deseja realmente apagar?'"
        placement="top"
        confirmText="Confirmar"
        cancelText="Cancelar"
        (confirm)="deleteParticipant(element.id)">
          <img src="../../../../assets/svgs/trash.svg" alt="trash" class="mx-3 click-button">
        </a>
    </td>
  </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Sem dados para o filtro correspondente "{{ input.value }}"</td>
    </tr>
</table>