<mat-sidenav-container>
  <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        Home
      </a>
      <a mat-list-item routerLink="/participantes/tabela">
        Participantes
      </a>
      <a mat-list-item routerLink="/doacoes/tabela">
        Doações
      </a>
      <a mat-list-item routerLink="/servos/tabela">
        Servos
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Change this to a drawer -->
<!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
    </mat-drawer>
    
    mat-drawer-content
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  
  </mat-drawer-container> -->