.servants-button {
    margin-top: 25px;
    color: var(--white)!important;
    background-color: var(--heliotrope)!important;
}

tr > th {
    color: var(--white)!important;
    background-color:var(--heliotrope)!important;
}