<div class="row">
    <div class="col-10">
      <mat-form-field class="pt-4 w-100">
          <mat-label>Filtro</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Digite aqui o filtro" #input>
      </mat-form-field>
    </div>
  
    <!-- redirect to create donation component -->
    <div class="col-2">
      <button mat-raised-button class="donations-button w-100" routerLink="/participantes/novo">Nova Doação</button>
    </div>
  </div>
    
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Doação </th>
        <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
      </ng-container>
    
      <!-- Phone Number Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Quantidade </th>
        <td mat-cell *matCellDef="let element"> {{ element.amount }} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element">
          <img src="../../../../assets/svgs/pencil.svg" alt="pencil" (click)="editDonation(element)" role="button">
          <a mwlConfirmationPopover
          [popoverMessage]="'Deseja realmente remover?'"
          placement="top"
          confirmText="Confirmar"
          cancelText="Cancelar"
          (confirm)="deleteDonation(element.id)">
            <img src="../../../../assets/svgs/trash.svg" alt="trash" class="mx-3" role="button">
          </a>
      </td>
    </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Sem dados para o filtro correspondente "{{ input.value }}"</td>
      </tr>
  </table>