/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --heliotrope: #CA42FF;
    --purple: #8C07C2;
    --purple-buttons: #673ab7;
    --light-green: #29FFA0;
    --dark-green: #25B374;
    --white: #FFF;
}